<aside class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto bg-surface-dark border-r border-gray-800 rtl:border-r-0 rtl:border-l">
    <a href="{{ path('app_dashboard') }}" class="mx-auto">
        <img class="w-auto h-12" src="{{ asset('assets/logo.jpg') }}" alt="Logo">
    </a>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav>
            <a class="flex items-center px-4 py-2 text-gray-300 transition-colors duration-300 transform rounded-md hover:bg-gray-800 hover:text-gray-200" href="{{ path('admin_dashboard') }}">
                <span class="mx-4 font-medium">Dashboard</span>
            </a>

            <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-300 transform rounded-md hover:bg-gray-800 hover:text-gray-200" href="{{ path('admin_users') }}">
                <span class="mx-4 font-medium">Students</span>
            </a>
            
             <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-300 transform rounded-md hover:bg-gray-800 hover:text-gray-200" href="{{ path('app_tournoi_index') }}">
                <span class="mx-4 font-medium">Tournaments</span>
            </a>
        </nav>
    </div>
</aside>
